@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-green: #006667;
    --color-green-background: #B2D1D1;
    --color-oragne: #FF8367;
    --color-oragne-background: #FFDAD1;
    --color-darkblue: #363A59;
    --color-darkblue-background: #C3C4CD;
    --color-yellow: #FFD600;
    --color-yellow2: #FFBC00;
    --color-yellow-background: #fff3b2ac;
    --color-neutral-0: #FAFAFA;
    --color-neutral-10: #F5F5F5;
    --color-neutral-40: #AEAEAE;
    --color-neutral-50: #9A9A9A;
    --color-neutral-90: #1D1A20;
}

body{
    min-height: 100vh;
    background-color: var(--color-neutral-10);
}


.bottomNavBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.bottomNavBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.bottomNavBar ul li{
    /* position: relative; */
    height: 60px;
    width: 20%;
    text-align: center;
    line-height: 60px;
    font-size: 1.6em;
    transition: all 0.2s ease;
    cursor: pointer;
}
.bottomNavBar ul li:nth-of-type(3){
    font-size: 2.5em;
    background-color: var(--color-neutral-90);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    transform: translateY(-30%) ;
}
.bottomNavBar ul li:nth-of-type(3):hover{
    transform: translateY(-30%) scale(1.1);
}

.bottomNavBar ul li:nth-of-type(3) a{
    color: var(--color-neutral-0);
}

.bottomNavBar ul li a{
    transition: all 0.2s ease;
    color: var(--color-neutral-40);
    position: relative;
}

.bottomNavBar ul li:hover{
    transform: translateY(-5px) scale(1.1);
}

.bottomNavBar ul li.active a{
    color: var(--color-green);
    transform: translateY(-5px);
}

.bottomNavBar ul li:nth-of-type(3).active{
    background-color: var(--color-green);
}

.bottomNavBar ul li:nth-of-type(3).active a{
    color: var(--color-neutral-0);
    margin-bottom: 3px;
}


.bottomNavBar ul li:not(:nth-child(3)) a::before, .sidebar nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-green);
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
}

.bottomNavBar ul li:not(:nth-child(3)).active a::before, .sidebar nav ul li:hover::before{
scale: 1;
transform-origin: left;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* Sidebar */
.sidebar svg{
    fill: var(--color-neutral-90);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
    z-index: 100;
    /* transition: all 1s ease; */
    transition: background-color 1s ease;
    transform: translateX(-100%);
}

.sidebar.show {
    /* transform: translateX(0); */
    background-color: #1d1a208a;
}

.sidebar nav{
    position: relative;
    width: 75%;
    min-width: 250px;
    max-width: 600px;
    height: 100%;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding: 30px;
    transform: translateX(-100%);
    transition: all 1s ease;
}

.sidebar nav.show{
    transform: translateX(0);
}
.sidebarLogo{
    margin-bottom: 30px;
}

/* iconos del sidebar */
.sidebar nav ul svg, .sidebar nav ul a {
    fill: var(--color-neutral-50);
    color: var(--color-neutral-50);
}
.sidebar nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar nav ul li{
    position: relative;
    font-size: 1em;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sidebar nav ul a{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.sidebar nav ul li:hover{
    margin-left: 10px;
}

.sidebar li:hover a, .sidebar li:hover svg, .sidebar li.active a, .sidebar li.active svg{
    fill: var(--color-green);
    color: var(--color-green);
}

.sidebar .closebtn{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: large;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidebar .closebtn:hover{
    transform: scale(1.2);
    color: var(--color-oragne);
}

/* top nav bar */
.topNavBar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: var(--color-neutral-10);
}

.topNavBar i{
    font-size: 1.5em;
    color: var(--color-neutral-50);
    cursor: pointer;
    transition: color 0.2s ease;
}

.topNavBar i:hover{
    color: var(--color-green);
}

/* texto o titulo que se muestra en el top nav bar */
.topNavBar h1{
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}


/* Home */
main{
    padding: 20px 20px 80px 20px;
}

main h1, main h2{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-neutral-90);
    margin: 8px 0 14px 0;
}

/* secciones del main (puse una clase al main del home por si estos estilos no se aplican a las secciones de las demás páginas) */
.homeMain section{
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.02);
    padding: 12px;
    border-radius: 8px;
}

.homeMain{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcomeCard{
    display: flex;
    gap: 10px;
    align-items: center;
}

.welcomeCard img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.welcomeCard h1{
    margin-bottom: 2px;
}

.welcomeCard p{
    font-size: 0.8em;
    color: var(--color-neutral-50);
}


/* Cards en la sección "Tus mascotas" del home*/
/* div contenedor del boton de agregar y del listado de mascotas */
.myPetsCard p{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.myPetsCard > div:nth-of-type(1){
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    padding-bottom: 12px;
}

/* para ocultar el indicador del scroll horizontal */
.myPetsCard > div:nth-of-type(1)::-webkit-scrollbar {
    display: none; /* Ocultar para Chrome, Safari y Opera */
}

.myPetsCard > div:nth-of-type(1) {
    -ms-overflow-style: none;  /* Ocultar para IE y Edge */
    scrollbar-width: none; /* Ocultar para Firefox */
}


.myPetsCard .addPetBtn{
    width: 60px;
    height: 60px;
    display: block;
    background-color: #FFF3B2;
    border: 1px solid #FFD600;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD600;
    font-size: 3em;
    font-weight: bolder;
    transition: all 0.2s ease;
}

.myPetsCard > div:nth-of-type(1) > div:hover .addPetBtn{
    background-color: #FFD600;
    color: var(--color-neutral-0);
}

.myPetsCard > div:nth-of-type(1) > div, .myPetsCard ul li{
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.myPetsCard ul{
    display: flex;
    gap: 12px;
    justify-content: center;
}


/* div contenedor de la imagen del pet */
.myPetsCard ul li > div{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.myPetsCard ul li > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

.myPetsCard ul li:hover > div img{
    transform: scale(1.1);
}

.myPetsCard ul li:hover > div{
    border: 1px solid var(--color-green);
}


/* ul contenedor de los servicios en el home  */
.servicesCard ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.servicesCard ul li {
    flex: 1;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.servicesCard ul li:hover{
    background-color: var(--color-neutral-10) !important;
    border: 1px solid var(--color-green);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1)
}

.servicesCard ul li:nth-of-type(1){
    background-color: var(--color-darkblue-background);
}

.servicesCard ul li:nth-of-type(1) svg{
    fill: var(--color-darkblue);
}

.servicesCard ul li:nth-of-type(2){
    background-color: var(--color-oragne-background);
}

.servicesCard ul li:nth-of-type(2) svg{
    fill: var(--color-oragne);
}

.servicesCard ul li:nth-of-type(3){
    background-color: var(--color-green-background);
}

.servicesCard ul li:nth-of-type(3) svg{
    fill: var(--color-green);
}

.servicesCard ul li:nth-of-type(4){
    background-color: var(--color-yellow-background);
}

.servicesCard ul li:nth-of-type(4) svg{
    fill: var(--color-yellow2);
}


/* seccion de card del calendario en el home */
.calendarCard ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.calendarCard ul li{
    flex: 1;
    min-width: 90px;
    /* max-width: 250px; */
    height: 100px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px;
}

.calendarCard ul li:nth-of-type(1){
    background-color: var(--color-green-background);
    color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-color: var(--color-green);
}

.calendarCard ul li:nth-of-type(2){
    background-color: var(--color-oragne-background);
    border-color: var(--color-oragne);
}

.calendarCard ul li:nth-of-type(2) p{
    color: var(--color-oragne);
    font-weight: 600;
}

.calendarCard ul li p:nth-of-type(1){
    font-size: 1.3em;
}

.calendarCard ul li h3{
    font-size: 1em;
    font-weight: 500;
}


/* formulario de crear cuenta */
.singUpView{
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    margin-top: 120px;
    text-align: center;
    border-radius: 41px 41px 0px 0px;
    padding: 0 20px 150px 20px;
    position: absolute;
    bottom: 0;
}