@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-green: #006667;
    --color-oragne: #FF8367;
    --color-darkblue: #363A59;
    --color-yellow: #FFD600;
    --color-neutral-0: #FAFAFA;
    --color-neutral-10: #F5F5F5;
    --color-neutral-40: #AEAEAE;
    --color-neutral-50: #9A9A9A;
    --color-neutral-90: #1D1A20;
}

body{
    min-height: 100vh;
    background-color: var(--color-neutral-10);
}


.bottomNavBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.bottomNavBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.bottomNavBar ul li{
    /* position: relative; */
    height: 60px;
    width: 20%;
    text-align: center;
    line-height: 60px;
    font-size: 1.6em;
    transition: all 0.2s ease;
    cursor: pointer;
}
.bottomNavBar ul li:nth-of-type(3){
    font-size: 2.5em;
    background-color: var(--color-neutral-90);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    transform: translateY(-30%) ;
}
.bottomNavBar ul li:nth-of-type(3):hover{
    transform: translateY(-30%) scale(1.1);
}

.bottomNavBar ul li:nth-of-type(3) a{
    color: var(--color-neutral-0);
}

.bottomNavBar ul li a{
    transition: all 0.2s ease;
    color: var(--color-neutral-40);
    position: relative;
}

.bottomNavBar ul li:hover{
    transform: translateY(-5px) scale(1.1);
}

.bottomNavBar ul li.active a{
    color: var(--color-green);
    transform: translateY(-5px);
}

.bottomNavBar ul li:nth-of-type(3).active{
    background-color: var(--color-green);
}

.bottomNavBar ul li:nth-of-type(3).active a{
    color: var(--color-neutral-0);
    margin-bottom: 3px;
}


.bottomNavBar ul li:not(:nth-child(3)) a::before, .sidebar nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-green);
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
}

.bottomNavBar ul li:not(:nth-child(3)).active a::before, .sidebar nav ul li:hover::before{
scale: 1;
transform-origin: left;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* Sidebar */
.sidebar svg{
    fill: var(--color-neutral-90);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1a208a;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
    z-index: 100;
    transition: all 0.2s ease;
}

.sidebar nav{
    /* position: absolute; */
    width: 75%;
    min-width: 250px;
    max-width: 600px;
    height: 100%;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding: 30px;
}

.sidebarLogo{
    margin-bottom: 30px;
}

/* iconos del sidebar */
.sidebar nav ul svg, .sidebar nav ul a {
    fill: var(--color-neutral-50);
    color: var(--color-neutral-50);
}
.sidebar nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar nav ul li{
    position: relative;
    font-size: 1em;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sidebar nav ul a{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.sidebar nav ul li:hover{
    margin-left: 10px;
}

.sidebar li:hover a, .sidebar li:hover svg, .sidebar li.active a, .sidebar li.active svg{
    fill: var(--color-green);
    color: var(--color-green);
}